## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dla-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

2023-10-24 12:13:49.401419: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
application_df = application_df.drop(['EIN', 'NAME'], axis=1)

In [3]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
unique_value_counts = application_df.nunique()
# Print the result
print(unique_value_counts)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
print(application_type_counts)

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
cutoff_value = 100
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
application_types_to_replace = application_type_counts[application_type_counts < cutoff_value].index.tolist()
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
classification_counts = application_df['CLASSIFICATION'].value_counts()
print(classification_counts)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE

classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts_gt1 = classification_counts[classification_counts > 1]
print(classification_counts_gt1)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
cutoff_value = 100
classification_counts = application_df['CLASSIFICATION'].value_counts()
classifications_to_replace = classification_counts[classification_counts < cutoff_value].index.tolist()
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
categorical_columns = ['APPLICATION_TYPE', 'AFFILIATION', 'USE_CASE', 'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS', 'CLASSIFICATION']
application_df = pd.get_dummies(application_df, columns=categorical_columns)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,CLASSIFICATION_C1270,CLASSIFICATION_C1700,CLASSIFICATION_C2000,CLASSIFICATION_C2100,CLASSIFICATION_C2700,CLASSIFICATION_C3000,CLASSIFICATION_C4000,CLASSIFICATION_C5000,CLASSIFICATION_C7000,CLASSIFICATION_Other
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,108590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE

# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
target = application_df['IS_SUCCESSFUL']
features = application_df.drop(['IS_SUCCESSFUL'], axis=1)

# Split the data into training and testing sets (e.g., 80% for training, 20% for testing)
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.2, random_state=42)
print("X_train shape:", X_train.shape)
print("X_test shape:", X_test.shape)
print("y_train shape:", y_train.shape)
print("y_test shape:", y_test.shape)

X_train shape: (27439, 50)
X_test shape: (6860, 50)
y_train shape: (27439,)
y_test shape: (6860,)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=8, activation='relu', input_dim=X_train_scaled.shape[1]))
# Second hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=5, activation='relu'))
# Output layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))
# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 408

 dense_1 (Dense)             (None, 5)                 45

 dense_2 (Dense)             (None, 1)                 6

=================================================================
Total params: 459 (1.79 KB)
Trainable params: 459 (1.79 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [13]:
# Compile the model
#  YOUR CODE GOES HERE
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [14]:
# Train the model
#  YOUR CODE GOES HERE
nn.fit(X_train_scaled, y_train, epochs=50, verbose=1)

Epoch 1/50
858/858 [==============================] - 2s 1ms/step - loss: 0.6007 - accuracy: 0.7066
Epoch 2/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5623 - accuracy: 0.7264
Epoch 3/50
858/858 [==============================] - 1s 986us/step - loss: 0.5562 - accuracy: 0.7278
Epoch 4/50
858/858 [==============================] - 1s 999us/step - loss: 0.5530 - accuracy: 0.7302
Epoch 5/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5520 - accuracy: 0.7285
Epoch 6/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5509 - accuracy: 0.7286
Epoch 7/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5504 - accuracy: 0.7311
Epoch 8/50
858/858 [==============================] - 1s 998us/step - loss: 0.5495 - accuracy: 0.7298
Epoch 9/50
858/858 [==============================] - 1s 994us/step - loss: 0.5489 - accuracy: 0.7307
Epoch 10/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5487 - accuracy: 0.7303
Epoch 11/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5481 - accuracy: 0.7325
Epoch 12/50
858/858 [==============================] - 1s 994us/step - loss: 0.5476 - accuracy: 0.7316
Epoch 13/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5474 - accuracy: 0.7313
Epoch 14/50
858/858 [==============================] - 1s 995us/step - loss: 0.5468 - accuracy: 0.7317
Epoch 15/50
858/858 [==============================] - 1s 993us/step - loss: 0.5466 - accuracy: 0.7314
Epoch 16/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5465 - accuracy: 0.7325
Epoch 17/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5460 - accuracy: 0.7326
Epoch 18/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5460 - accuracy: 0.7321
Epoch 19/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5460 - accuracy: 0.7315
Epoch 20/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5455 - accuracy: 0.7325
Epoch 21/50
858/858 [==============================] - 1s 992us/step - loss: 0.5452 - accuracy: 0.7325
Epoch 22/50
858/858 [==============================] - 1s 996us/step - loss: 0.5450 - accuracy: 0.7322
Epoch 23/50
858/858 [==============================] - 1s 999us/step - loss: 0.5448 - accuracy: 0.7321
Epoch 24/50
858/858 [==============================] - 1s 997us/step - loss: 0.5447 - accuracy: 0.7333
Epoch 25/50
858/858 [==============================] - 1s 995us/step - loss: 0.5446 - accuracy: 0.7309
Epoch 26/50
858/858 [==============================] - 1s 992us/step - loss: 0.5445 - accuracy: 0.7326
Epoch 27/50
858/858 [==============================] - 1s 995us/step - loss: 0.5443 - accuracy: 0.7321
Epoch 28/50
858/858 [==============================] - 1s 994us/step - loss: 0.5441 - accuracy: 0.7313
Epoch 29/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5443 - accuracy: 0.7328
Epoch 30/50
858/858 [==============================] - 1s 993us/step - loss: 0.5438 - accuracy: 0.7327
Epoch 31/50
858/858 [==============================] - 1s 997us/step - loss: 0.5438 - accuracy: 0.7324
Epoch 32/50
858/858 [==============================] - 1s 993us/step - loss: 0.5440 - accuracy: 0.7317
Epoch 33/50
858/858 [==============================] - 1s 996us/step - loss: 0.5439 - accuracy: 0.7332
Epoch 34/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5435 - accuracy: 0.7329
Epoch 35/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5433 - accuracy: 0.7331
Epoch 36/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5432 - accuracy: 0.7329
Epoch 37/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5432 - accuracy: 0.7327
Epoch 38/50
858/858 [==============================] - 1s 982us/step - loss: 0.5431 - accuracy: 0.7336
Epoch 39/50
858/858 [==============================] - 1s 981us/step - loss: 0.5430 - accuracy: 0.7329
Epoch 40/50
858/858 [==============================] - 1s 993us/step - loss: 0.5429 - accuracy: 0.7332
Epoch 41/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5428 - accuracy: 0.7331
Epoch 42/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5430 - accuracy: 0.7325
Epoch 43/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5427 - accuracy: 0.7333
Epoch 44/50
858/858 [==============================] - 1s 1000us/step - loss: 0.5426 - accuracy: 0.7330
Epoch 45/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5426 - accuracy: 0.7327
Epoch 46/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5426 - accuracy: 0.7330
Epoch 47/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5425 - accuracy: 0.7333
Epoch 48/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5424 - accuracy: 0.7335
Epoch 49/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5423 - accuracy: 0.7329
Epoch 50/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5426 - accuracy: 0.7333

In [15]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - loss: 0.5538 - accuracy: 0.7264 - 273ms/epoch - 1ms/step
Loss: 0.5538312196731567, Accuracy: 0.7263848185539246

In [16]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
# Specify the filename for the HDF5 file
model_filename = "AlphabetSoupCharity.h5"

# Save the model to the HDF5 file
nn.save(model_filename)

# Check if the model has been saved
import os
if os.path.isfile(model_filename):
    print("Model has been saved to", model_filename)
else:
    print("Model could not be saved.")

Model has been saved to AlphabetSoupCharity.h5

/Users/vanphan/anaconda3/envs/bootcamp3/lib/python3.10/site-packages/keras/src/engine/training.py:3079: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(